color-primary = #FAF8F7
color-secundary = #F7931A
text-grey = #F7931A
text-orange = #FFE9D4
size-base = 14px

*
    padding: 0
    margin: 0
    box-sizing: border-box

html
    font-size: 62.5%
    font-family: 'DM Sans', sans-serif